CONFIG_MACH_JF_TMO=y
CONFIG_EXTRA_FIRMWARE="audience-es325-fw-tmo.bin"
CONFIG_EXTRA_FIRMWARE_DIR="firmware"
CONFIG_WLAN_REGION_CODE=402
CONFIG_FB_MSM_MIPI_SAMSUNG_OCTA_VIDEO_FULL_HD_PT_PANEL=y
CONFIG_LCD_VDD3_BY_PMGPIO=y
