CONFIG_MACH_JFVE_EUR=y
CONFIG_MACH_JFVE_EUR_3G=y
CONFIG_EXTRA_FIRMWARE="audience-es325-fw-eur.bin"
CONFIG_EXTRA_FIRMWARE_DIR="firmware"
CONFIG_FB_MSM_MIPI_SAMSUNG_OCTA_VIDEO_FULL_HD_PT_PANEL=y
CONFIG_LCD_VDD3_BY_PMGPIO=y
CONFIG_MSM_PIL_RIVA=y
CONFIG_MSM_WCNSS_SSR_8960=y
CONFIG_PRIMA_WLAN_11AC_HIGH_TP=y
CONFIG_PRIMA_WLAN_LFR=y
CONFIG_PRIMA_WLAN=m
CONFIG_PRIMA_WLAN_OKC=y
CONFIG_QCOM_VOWIFI_11R=y
CONFIG_WCNSS_CORE=y
CONFIG_WCNSS_MEM_PRE_ALLOC=y
CONFIG_WIRELESS_EXT=y
# CONFIG_BCM4335 is not set
# CONFIG_BT_BCM4335 is not set
# CONFIG_BT_HCIUART_H4 is not set
# CONFIG_BT_HCIUART is not set
# CONFIG_CFG80211_WEXT is not set
# CONFIG_MMC_MSM_SDC2_SUPPORT is not set
# CONFIG_MMC_MSM_SDC4_SUPPORT is not set
# CONFIG_WIRELESS_EXT_SYSFS is not set
